@page
@model aspnet_razor_shopping.Pages_Cart.AddModel

@{
	ViewData["Title"] = "Edit";
}

<h1>Cart</h1>

<h4>Added to Cart</h4>
<hr />
<div class="row">

</div>

<div>
	<a asp-page="../Products/Index">Back to Product List</a>
</div>
